<% if applications.any? %>
  <div class="application-list">
    <span class="sub-titles"><%= title %></span>

    <% applications.each do |job_application| %>
      <li class="application">
        <span><%= job_application.company_name %></span>

        <div class="details"><i>Job title</i><%= job_application.job_title %></div>
        <div class="details"><i>Status</i><%= job_application.status %></div>

        <div class="details">
          <i>Date & time</i>
          <div class="application-time">
            <% if job_application.interviews.empty? %>
              <div class="nothing">No interviews yet.</div>
            <% elsif job_application.interviews.last.date < Date.today + 1.week %>
              <div class="date"><%= job_application.interviews.last.date.strftime('%d.%m.%y at %l:%M %P') %></div>

            <% elsif job_application.interviews.last.date > Date.today %>
              <div class="date"><%= job_application.interviews.last.date.strftime('%d.%m.%y at %l:%M %P') %></div>
            <% else %>
              <%= link_to " Add your next interview date!", new_job_application_interview_path(job_application) %>
            <% end %>
          </div>
        </div>

        <div class="application-actions">
          <div id="<%= dom_id(job_application) %>" class="title-heart-toggle">
            <%= link_to job_application_toggle_favorite_path(job_application), method: :patch, remote: true do %>
              <% if job_application.favorite? %>
                <i class="fas fa-heart"></i>
              <% else %>
                <i class="far fa-heart"></i>
              <% end %>
            <% end %>
          </div>

          <%= link_to 'Details', job_application_path(job_application), class: 'application-action' %>
        </div>
      </li>
    <% end %>
  </div>
<% end %>

