<div class="interview-show">
  <div class="interview_info">
    <%= simple_form_for(profile) do |t| %>

    <p></p>
      <%= t.label :first_name, class: "form-first-name"%>
      <%= t.text_field :first_name %>
    <p></p>
      <%= t.label :last_name %>
      <%= t.text_field :last_name %>

    <br>
      <%= t.submit %>

    <% end %>
  </div>
</div>
