<!-- Render cards with instance and their value -->

<div>
<%= link_to "Start a new application", new_job_application_path %>


<% @job_applications.each do |job_application| %>
    <div class="card-product">
      <%= link_to '', job_application, class: 'card-link' %>
      <div class="card-product-infos">
        <h2><%= job_application.company_name %></h2>
        <div class="details">
        <div class="application-details">
        <p>Job title: <%= job_application.job_title %></p>
        <p> Status: <%= job_application.status %></p>
        </div>
        <div class="interview-details">
        <p>  NEED TO DISPLAY LAST INTERVIEW DATE HERE </p>
        </div>
      </div>
      </div>
    </div>
<% end %>
</div>

