<!-- Render cards with instance and their value -->
<% active = "active" %>
<div class="profile-content content">
  <div class="tab-logo">
    <div class="tabs">
      <ul class="nav nav-pills">
        <li class="nav-item">
          <%= link_to show_profiles_path, class:"nav-link #{active if !params[:status]}" do %>
            All <span class="app-count"><%= JobApplication.all.count %></span>
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to show_profiles_path(status: 'Applied'), class:"nav-link #{active if params[:status] == 'Applied'}" do %>
            Applied <span class="app-count"><%= JobApplication.all.where(status: 'Applied').count %></span>
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to show_profiles_path(status: 'Interviewing'), class:"nav-link #{active if params[:status] == 'Interviewing'}" do %>
            Interviewing <span class="app-count"><%= JobApplication.all.where(status: 'Interviewing').count %></span>
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to show_profiles_path(status: 'Assignment'), class:"nav-link #{active if params[:status] == 'Assignment'}" do %>
            Assignment <span class="app-count"><%= JobApplication.all.where(status: 'Assignment').count %></span>
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to show_profiles_path(status: 'Final interview'), class:"nav-link #{active if params[:status] == 'Final interview'}" do %>
            Final interview <span class="app-count"><%= JobApplication.all.where(status: 'Final interview').count %></span>
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to show_profiles_path(status: 'Offer'), class:"nav-link #{active if params[:status] == 'Offer'}" do %>
            Offer <span class="app-count"><%= JobApplication.all.where(status: 'Offer').count %></span>
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to show_profiles_path(status: 'Hired'), class:"nav-link #{active if params[:status] == 'Hired'}" do %>
            Hired <span class="app-count"><%= JobApplication.all.where(status: 'Hired').count %></span>
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to show_profiles_path(status: 'Closed'), class:"nav-link #{active if params[:status] == 'Closed'}" do %>
            Closed <span class="app-count"><%= JobApplication.all.where(status: 'Closed').count %></span>
          <% end %>
        </li>
      </ul>
    </div>
  </div>


  <%= render 'applications', applications: @upcoming_interviews, title: 'Your interview(s) in the upcoming days' %>
  <%= render 'applications', applications: @with_interviews, title: 'Your scheduled interview(s)' %>
  <%= render 'applications', applications: @no_interviews, title: 'No interview planned' %>
</div>


