<!-- Render cards with instance and their value -->


<div class="profile-content">
  <div class="profile-content-button">
    <%= image_tag("meditation.png", class: 'logo') %>
  </div>



  <% @job_applications.each do |job_application| %>
  <div class="card-product">
    <%= link_to '', job_application_path(job_application), class: 'card-link' %>
    <div class="card-product-infos">
      <div class="title-heart-aligned">
      <h2 id="company_name"><%= job_application.company_name %></h2>
          <% if job_application.favorite? %>
          <p><i class="fas fa-heart"></i></p>
          <% else %>
          <p><i class="far fa-heart"></i></p>
          <% end %>
          </div>
      <div class="details">

        <div class="application-details">
          <p>Job title: <%= job_application.job_title %></p>
          <p> Status: <%= job_application.status %></p>
        </div>
        <div class="interview-details">
          <% if job_application.interviews.empty?  %>
          <p id="call-to-action"> Add your next interview date! </p>
          <% elsif  job_application.interviews.last.date > Date.today %>
          <p>  Next interview: <%= job_application.interviews.last.date %> </p>
          <% else %>
          <p id="call-to-action"> <%= link_to " Add your next interview date!", new_job_application_interview_path(job_application) %></p>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <% end %>
</div>


