<!-- Render cards with instance and their value -->

<div class="profile-content">
  <div class="tab-logo">
  <div class="tabs">
 <ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link"><%= link_to "Applied", profile_path(status: 'Applied') %></a>
  </li>
  <li class="nav-item">
    <a class="nav-link" ><%= link_to "Interviewing", profile_path(status: 'Interviewing') %></a>
  </li>
  <li class="nav-item">
    <a class="nav-link"><%= link_to "Technical assignment", profile_path(status: 'Technical assignment') %></a>
  </li>
  <li class="nav-item">
    <a class="nav-link"><%= link_to "Management interview", profile_path(status: 'Management interview') %></a>
  </li>
  <li class="nav-item">
    <a class="nav-link" ><%= link_to "Offer", profile_path(status: 'Offer') %></a>
  </li>
  <li class="nav-item">
    <a class="nav-link" ><%= link_to "Hired", profile_path(status: 'Hired') %></a>
  </li>
  <li class="nav-item">
    <a class="nav-link"><%= link_to "Closed", profile_path(status: 'Closed') %></a>
  </li>
  <li class="nav-item">
    <a class="nav-link"><%= link_to "All", profile_path %></a>
  </li>
</ul>
</div>
  <div class="profile-content-button">
    <%= image_tag("meditation.png", class: 'logo') %>
  </div>
  </div>


  <% @job_applications.each do |job_application| %>
  <div class="card-product">
    <%= link_to '', job_application_path(job_application), class: 'card-link' %>
    <div class="card-product-infos">
      <div class="title-heart-aligned">
      <h2 id="company_name"><%= job_application.company_name %></h2>
          <article id="<%= dom_id(job_application) %>">
          <p>
            <%= link_to job_application_toggle_favorite_path(job_application), method: :patch, remote: true do %>
              <% if job_application.favorite? %>
                <i class="fas fa-heart"></i>
              <% else %>
                <i class="far fa-heart"></i>
              <% end %>
            <% end %>
          </p>
          </article>
          </div>

      <div class="details">

        <div class="application-details">
          <p>Job title: <%= job_application.job_title %></p>
          <p> Status: <%= job_application.status %></p>
        </div>
        <div class="interview-details">
          <% if job_application.interviews.empty?  %>
          <p id="call-to-action"> Add your next interview date! </p>
          <% elsif  job_application.interviews.last.date > Date.today %>
          <p>  Next interview: <%= job_application.interviews.last.date %> </p>
          <% else %>
          <p id="call-to-action"> <%= link_to " Add your next interview date!", new_job_application_interview_path(job_application) %></p>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <% end %>
</div>


