<%= simple_form_for([job_application, @interview]) do |t| %>
  <div class="form-halves">
    <div>
      <%= t.input :date, as: :string, input_html: { class: "datepicker"} %>
    </div>

    <div>
      <%= t.label :description %>
      <%= t.text_field :description %>
    </div>

    <div>
      <%= t.label :interviewer_name %>
      <%= t.text_field :interviewer_name %>
    </div>

    <div>
      <%= t.label :interviewer_email %>
      <%= t.text_field :interviewer_email %>
    </div>
  </div>

  <div class="form-spacer">
    <%= t.submit class: "default-button" %>
  </div>
<% end %>
