<div class="text-center">

<h1><%= @job_application.company_name %></h1>


<div class="job-application-show">
<div class="job-application_info">
<%= form_for(@job_application) do |f| %>
 <div><%= f.label :job_title %></div>
  <div><%= f.text_field :job_title %></div>
<p></p>
  <div><%= f.label :company_name %></div>
  <div><%= f.text_field :company_name %></div>
<p></p>
 <%= f.label :status %>
  <%= f.select :status, ['Applied', 'Interviewing', 'Technical assignment', 'Management interview', 'Offer', 'Hired', 'Closed'] %>
  <div><%= f.label :recruiter_name %></div>
  <div><%= f.text_field :recruiter_name %></div>
<p></p>
  <div><%= f.label :recruiter_email %></div>
  <div><%= f.text_field :recruiter_email %></div>
  <p></p>
  <div><%= f.submit %></div>
<% end %>

</div>


