<div class="job-application-form">
  <%= form_for(@job_application) do |f| %>
    <div class="form-halves">

      <div>
        <%= f.label :job_title %>
        <%= f.text_field :job_title %>
      </div>

      <div>
        <%= f.label :company_name %>
        <%= f.text_field :company_name %>
      </div>

      <div>
        <%= f.label :recruiter_name %>
        <%= f.text_field :recruiter_name %>
      </div>

      <div>
        <%= f.label :recruiter_email %>
        <%= f.text_field :recruiter_email %>
      </div>
    </div>

    <div class="form-spacer">
      <%= f.label :status %>
      <%= f.select :status, ['Applied', 'Interviewing', 'Technical assignment', 'Management interview', 'Offer', 'Hired', 'Closed'] %>
    </div>

    <div class="form-spacer">
      <%= f.label :your_impression %>
      <%= f.text_area :your_impression %>
    </div>

    <%= f.submit class: "default-button" %>
  <% end %>
</div>

