<div class="sidenav">

  <%= image_tag 'meditation.png', class: 'sidenav-logo'%>
  <ul class='sidenav-links'>
    <li class="sidenav-link <%= 'active' if controller_name == 'profiles' && action_name == 'show' && params[:favorite].nil? %>">
      <%= link_to show_profiles_path do %>
        <span><i class="fas fa-home"></i> Dashboard</span>
      <% end %>
    </li>
    <li class='sidenav-link'>
      <li class="sidenav-link <%= 'active' if controller_name == 'job_applications' && action_name == 'new' %>">
      <%= link_to new_job_application_path do  %>
        <i class="fas fa-plus"></i><span> New Application</span>
      <% end %>
    </li>
    <li class='sidenav-link'>
      <li class="sidenav-link <%= 'active' if controller_name == 'profiles' && action_name == 'show' && params[:favorite] %> ">
      <%= link_to show_profiles_path(favorite: 1) do %>
        <i class="fas fa-heart"></i> Favorites
      <% end %>
    </li>
    <li class="sidenav-link <%= 'active' if controller_name == 'profiles' && action_name == 'edit' %>">
      <%= link_to edit_profile_path(current_user) do %>
        <i class="fas fa-cog"></i> Settings
      <% end %>
    </li>
  </ul>

  <div class='logout'>
    <%= link_to destroy_user_session_path, method: :delete do %>
      <i class="fas fa-sign-out-alt"></i> Logout
    <% end %>
  </div>
</div>
