<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
   <%= favicon_link_tag asset_path('meditation.png') %>
        <title>OJA</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%#= stylesheet_link_tag 'application' %>
    <%= stylesheet_pack_tag 'application', media: 'all' %> <!-- Uncomment if you import CSS in app/javascript/packs/application.js -->
          <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">

  </head>

  <body>
    <div class="<%= 'wrapper' if !(controller_name == 'pages' && action_name == 'home') %>">
      <% unless  params[:controller] == "pages" && params[:action] == "home" %>
        <% if current_user %> <%#= Show only sidebar if there is a current_user %>
          <%= render 'shared/sidebar' %>
        <% end %>
      <% end %>
      <%= render 'shared/flashes' %>
      <%= yield %>
    </div>

    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
  </body>
</html>
